html {
    height: 100%;
    background-color: #1c1c1c;
}
body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    min-height: max-content;
    padding-bottom: 30px;
}
#keywordInput {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ddd;
    background-color: #333;
    border-radius: 4px;
    color: #e0e0e0;
}

#addButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #45a049;
}

li {
    background-color: #333;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}
button:disabled {
    background-color: #a9a9a9;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}
button:disabled:hover {
    background-color: #a9a9a9;
    color: #666666;
}
#whitelistInput {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}

#addWhitelistButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    white-space: nowrap;
    flex: 0 0 auto;
}

#addWhitelistButton:hover {
    background-color: #45a049;
}
#addWhitelistButton:disabled {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}
#addWhitelistButton:disabled:hover {
    background-color: #a9a9a9;
    color: #666666;
}

#whitelist {
    /* margin-bottom: 30px; */
}

#whitelist li {
    background-color: #333;
    color: #e0e0e0;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#whitelist button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

#whitelist button:hover {
    background-color: #d32f2f;
}

#whitelist button:disabled {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}
#whitelist button:disabled:hover {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}

h2 {
    padding: 10px;
    max-width: 600px;
    margin: 10px auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Groups panel styling */
#groupNameInput, #groupWebsitesInput, #groupKeywordsInput {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}

#addGroupButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    margin-right: 10px;
    white-space: nowrap;
    flex: 0 0 auto;
}

#addGroupButton:hover {
    background-color: #45a049;
}

#groupList li {
    background-color: #333;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
}

#groupList li div {
    margin: 5px 0;
}

#groupList button {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#groupList button:nth-child(1) {
    background-color: #28a745;
    color: white;
}

#groupList button:nth-child(2) {
    background-color: #dc3545;
    color: white;
}

#groupList button:hover {
    opacity: 0.8;
}
#groupList button:disabled {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}
#groupList button:disabled:hover {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}


.input-group, .group-item div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.group-item-textarea {
    position: absolute;
}

#editableTextarea {
    background: transparent;
    z-index: 2;
    color: #e0e0e0;
}

#mirroringTextarea {
    pointer-events: none;
    color: transparent;
    z-index: 1;
    background-image: linear-gradient(to bottom, #f4f4f4 50%, #ffffff 50%);
    background-size: 100% 2em;
}

.group-item div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.group-item label, input-group label {
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
    color: #e0e0e0;
    text-align: center;
    min-width:200px;
    max-width: 1500px;
}

.group-item textarea {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    overflow: hidden;
    resize: none;
    min-width: 400px;
    max-width: 80%;
    word-break:break-all;
    overflow-x: auto;
    background-color: #333;
    color: #e0e0e0;
}
.group-item{
    position: relative;
    margin-left:100px;
}

.group-item input, .group-item textarea, .input-group input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    min-width: 400px;
    width: calc(33% + 133px);
}

.group-item input, .group-item textarea {
    width: calc(100% - 120px);
}

.group-item input[readonly], .group-item textarea[readonly] {
    background-color: #242424;
    cursor: not-allowed;
}

.update-button, .save-button {
    background-color: #007bff;
    color: white;
}

.save-button:hover {
    background-color: #218838;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
}
.delete-button:hover {
    background-color: #d32f2f;
}

.delete-button:disabled {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}
.delete-button:disabled:hover {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}

.delete-button-schedule {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
}
.delete-button-schedule:hover {
    background-color: #d32f2f;
}

.delete-button-schedule:disabled {
    background-color: #a9a9a9;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}
.delete-button-schedule:disabled:hover {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}
.edit-button-schedule {
    position: absolute;
    bottom: 0;
    right: 72px;
    background-color: #f44336;
    color: white;
}
.save-button-schedule {
    position:absolute;
    bottom: 0;
    right: 10px;
    background-color: #4CAF50;
    color: white;
}
.save-button-schedule:hover {
    background-color: #218838;
}

#scheduleNameInput {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}

#addScheduleButton {
    flex: 0 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

#addScheduleButton:hover {
    background-color: #45a049;
}

#groupList li {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

#scheduleList li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    margin: 10px auto;
    padding: 10px;
    max-width: 900px;
}

.active-toggle.active {
    background-color: #4CAF50;
}

.save-button {
    background-color: #28a745;
    color: white;
    margin: 10px 0;
}
.save-button-group {
    background-color: #28a745;
    color: white;
    margin: 10px 0;
}
.save-button-group:disabled {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}
.save-button-group:disabled:hover {
    background-color: #a9a9a9;
    color: #666666;
    cursor: default;
    opacity: 0.7;
}
.schedule-item {
    background-color: #333;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #e0e0e0;
    position: relative;
}

.schedule-item input {
    flex-grow: 1;
    padding: 5px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    overflow: hidden;
    resize: none;
    min-width: 100px;
    max-width: 600px;
    word-break:break-all;
    overflow-x: auto;
    background-color: #333;
    color: #e0e0e0;
}

.schedule-item input[readonly] {
    background-color: #242424;
    cursor: not-allowed;
}

#dayButtons {
    display: flex;
    justify-content: flex-start;
}

.schedule-item button {
    margin-bottom: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.schedule-item .controls-container {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.day-button {
    background-color: #555;
    color: #e0e0e0;
    border: 1px solid #777;
    margin-right: 5px;
}

.day-button.selected {
    background-color: #28a745;
    color: #ffffff;
}

.schedule-input {
    min-width: 200px;
    margin: 0 auto;
}

.schedule-item div {
    flex-basis: 50%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.schedule-item label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    min-width: 150px;
    height: 36px;
}
#passwordManagement button.enabled {
    background-color: #4CAF50; /* Active state color */
}

/* Add styles for input fields */
input[type='password'] {
    background-color: #282c34; /* Dark background for dark mode */
    color: white; /* White text for dark mode */
    border: 1px solid #555; /* Subtle border */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%; /* Full-width inputs */
    box-sizing: border-box; /* Border-box sizing */
    border-radius: 4px;
}
/* Add styles for input fields */
input[type='password']:disabled:hover {
    cursor:not-allowed;
}

/* Centering password section */
#passwordManagement {
    align-items:center;
    text-align: center; /* Center align content */
    margin: auto; /* Center the div */
    max-width: 400px; /* Adjust as needed */
}

/* Ensure the confirmation password field is displayed */
#confirmPasswordInputField {
    display: block; /* Change to block to make it visible */
}

#passwordManagement button.disabled,
#passwordManagement button.password-set-button:disabled:hover,
#passwordManagement button.password-set-button:disabled {
    background-color: #a9a9a9; /* Disabled state color */
    color: #666666;
    cursor: default;
}